// Mixins
@use 'variables' as *;

@mixin container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin gradient-text($color1: $primary-color, $color2: $secondary-color) {
  background: linear-gradient(45deg, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin glassmorphism {
  background: rgb(0 0 0 / 90%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 10%);
}
